# Build directories
build/
bin/
lib/

# OS specific files
.DS_Store

# IDEs
.vscode/
.idea/

# Data and large files
*.csv
*.parquet
*.tar
*.png

# Build artifacts
*.o
*.out

A4-Tester
WhatsApp Image 2026-04-26 at 23.53.45.jpeg
2502_COP290_A4-1.pdf